<button class="widget-folder">
    <flex-box ai="center" jc="space-between">
        <flex-box ai="center" class="widget-folder-name">
            <span class="icon-zones"></span>
            <span>Zones</span>
        </flex-box>
        <flex-box class="widget-folder-icon">
            <span class="icon-zones-arrow"></span>
        </flex-box>
    </flex-box>
</button>