<button class="widget-folder">
    <flex-box ai="center" jc="space-between">
        <flex-box ai="center" class="widget-folder-name">
            {{{icon "zones"}}}
            <span>Zones</span>
        </flex-box>
        <flex-box class="widget-folder-icon">
            {{{icon "zones_arrow"}}}
        </flex-box>
    </flex-box>
</button>