<flex-box ai="center" jc="space-between" class="widget-folder widget-field">
    <flex-box ai="center" class="">
        <div class="">
            <label class="widget-folder-label">
                <input class="widget-folder-check input" checked type="checkbox">
                <span class="icon-checkbox"></span>
            </label>
        </div>
        <div class="widget-folder-name widget-subname">
            <span class="icon-camera"></span>
            <div class="device-wrap" style="display: flex;flex-direction: column;">
                <span>Zones</span>
                <span class="widget-folder-device">Camera 1</span>
            </div>
        </div>
    </flex-box>
    <div class="widget-folder-connection connection connection-info"> <!-- info, success -->
        <flex-box ai="center"><span class="icon-connection"></span> No connection</flex-box>
    </div>
    <div class="widget-folder-sensor">
        <button class="widget-button"><span class="icon-click"></span></button>
    </div>
</flex-box>